/* You can add global styles to this file, and also import other style files */

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.card-header {
    font-size: 20pt;
    font-weight: bold;
    color: aquamarine;
}

.list-group-item {
    background-color: darkslategray;
}